#recentTrades {
    font-size:10px;
    overflow-y : scroll;
    width: 300;
    height: 400px;
    background-color: lightgray;
}

#resentTrades table tbody td {
    bgcolor : white;
    align : right;
}

body {
    background-color:#222222;
    text-color : white;
}

.chartArea .plotArea {
    width: 100%; 
    height: 300px;
    margin: 0 0 1em;
}